<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include "head.html" %}
  </head>
  <body>
    <nav class="sidebar">
      <h1>
        <a href="/">
          {{ title }}
        </a>
      </h1>
      <ul>
        {% for page in site.sidebar %}
          <li>
            <a href="{{ page.url }}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="page-wrapper">
      <main class="page">
        <h1>{{ page.title }}</h1>
        {{ page.content | markdown | safe }}
        {% if page.references.length %}
          <section class="references">
            <h2>
              {% if page.references.length === 1 %}
                1 Linked Reference
              {% else %}
                {{ page.references.length }} Linked References
              {% endif %}
            </h2>
            <ul>
              {% for reference in page.references %}
                <li>
                  <a href="{{ reference.url }}">
                    {{ reference.title }}
                  </a>
                  <ul>
                    <li>{{ reference.content | markdown | safe }}</li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      </main>
    </div>
  </body>
</html>
